@model IEnumerable<Catagory>
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row pt-4">
        <div class="col-lg-6">
            <h2 class="text-primary"> Category List</h2>
        </div>
        <div class="col-lg-6 text-end">
            <a asp-controller="Catagory" asp-action="Create" class="btn btn-primary">
                Create New Item
            </a>
        </div>
    </div>

<table class="table table-bordered table-striped" style="width=100%">
    <tr>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        <th>
            Date
        </th>
        <th>
            Description
        </th>
        <th></th>

        <th></th>
    </tr>
    <tbody>
        @foreach(var obj in Model)
            {
                <tr>
                    <td>
                        @obj.Id
                    </td>
                    <td>
                        @obj.Name
                    </td>
                    <td>
                        @obj.CreatedDate 
                    </td>
                    <td>
                        @obj.description
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Catagory" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary">Edit</a>
                        </div>
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Catagory" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-primary">Delete</a>
                        </div>
                    </td>
                </tr>
            }
     </tbody>

</table>
</div>

